<!-- <ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
    <div class="ion-text-center ion-margin-top">
        <img src="../../../../assets/icon/logo.png" alt="Logo" width="150" height=150 />
    </div>
    <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="loginformSubmit(loginForm)">
            <ion-item class="ion-no-padding" line="none">
                <ion-label position="floating" color=dark>Enter Phone No
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="number" name="phone" formControlName="phone"></ion-input>
            </ion-item>
            <div class="ion-margin-top ion-margin-left" *ngIf="!loginForm.controls.phone.valid &&(loginForm.controls.phone.dirty ||loginForm.controls.phone.touched)">
                <div *ngIf="loginForm.controls['phone'].errors['required']">
                    <ion-text color="danger">Phone Number is required.</ion-text>
                </div>
                <div *ngIf="loginForm.controls['phone'].errors['pattern']">
                    <ion-text color="danger">Enter Proper number.</ion-text>
                </div>
            </div>
            <div class="ion-text-center ion-padding">
                <ion-button type="submit" class="btn" expand="block" [disabled]="!loginForm.valid">
                    <ion-ripple-effect></ion-ripple-effect>
                    Login
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>