<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="textbox-style">
    <ion-input type=text disabled="true" [(ngModel)]="name" class="font-white" rows="6"
      placeholder="Type your feedback here...">
    </ion-input>
  </ion-item>
  <ion-item class="textbox-style">
    <ion-input type=text disabled="true" [(ngModel)]="mobileNo" class="font-white" rows="6"
      placeholder="Type your feedback here...">
    </ion-input>
  </ion-item>
  <ion-item class="textbox-style">
    <ion-textarea [(ngModel)]="feedback" class="font-white" rows="6" placeholder="Type your feedback here...">
    </ion-textarea>
  </ion-item>

  <div class="ion-margin-top ion-text-center">
    <ion-button expand=block (click)="submit()">Submit</ion-button>
  </div>
</ion-content>
