<ion-header>
    <ion-toolbar>
        <ion-title>News List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let list of newsData" (click)="openNewsDetail(list)">
            <ion-label>
                <h2 class="fc-black">
                    {{list?.title}}
                </h2>
            </ion-label>
            <ion-label class="line-wrap">
                {{list?.description}}
            </ion-label>
        </ion-card>
    </ion-list>
</ion-content>